flask
langchain
langchain-groq
faiss-cpu
PyPDF2
transformers
python-dotenv
langchain-community
sentence-transformers
langchain_huggingface
langchain-text-splitters
rank-bm25 
ragas 
groq 
pandas